<h1 class='dumb-coaching'>Dumb Coaching</h1>

<div class='output'>
  <div class="you-div">
    <p><%= @question %></p>
    <p><em>—You</em></p>
  </div>
  <br>
  <div class="coach-div">
    <p><%= @answer %></p>
    <p><em>—Your coach</em></p>
  </div>
  <p class='link'><%= link_to 'Ask a new question', ask_path %></p>
</div>
