<h1 class="dumb-coaching">Dumb Coaching</h1>

<form action="answer">
  <label for="question">Ask your coach anything:</label><br>
  <input class="field" type="text" name="talk_to_coach"><input class="btn" type="submit" value="Ask">
</form>


<!-- <p>Find me in app/views/questions/ask.html.erb</p> -->

<!--
### 4 - Question Form Page

Let's implement the `ask` action. On this page, we should build a form with an input where the user can type in a question.

```html
<form action="???">
  <input type="text" name="???">
  <input type="submit" value="Ask!">
</form>
```

Notice the important HTML attributes in the form:

- `action` specifies the URL that will be used when submitting the form
- `name` enables you to name each parameter corresponding to each input of the form.

Replace the `???` so that your form send a request to `QuestionsController#answer` with a good parameter name.

![](https://raw.githubusercontent.com/lewagon/fullstack-images/master/rails/stupid-coaching/ask.png)
 -->
